//
// Lib
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Body
//----------------------------------------------------------------------------//
body {
    padding-top      : 30px;
    margin-bottom    : 168px;
    background-color : #ff4c00;
    colour           : white;
}

h1, h2, h3 {
    color     : white;
    font-size : 80px;
    font-weight: normal;
    font-family: arial;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

hr {
    border-color : purple;
}

a {
    color: white;
    text-decoration: underline;
    &:hover{
        color: white;
    }
}

footer {

    .footer {
        border-top : 4px solid purple;
    }

    position         : absolute;
    bottom           : 0;
    width            : 100%;
    height           : 168px;
    background-color : #f5f5f5;
}